



<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2205398-24"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-2205398-24');
    </script>

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "3xdyrg1i0n");
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="xFnIbRiqlbUWt2-5yqv6TejVhQ1oYB1hZiZ1jRXLzHw" />
    <link rel="icon" type="image/png" href="https://res.yame.vn/Content/images/yame-fav.png">
    <link rel="image_src" href="https://res.yame.vn/Content/images/yame.png">

    <title>Đăng k&#253;/Đăng nhập bằng số điện thoại - YaMe.vn</title>

        <meta name="description" content="Giao Hàng Nhanh Miễn Phí ✓ Bảo Hành 365 Ngày ✓ 7 Ngày Đổi Hàng Miễn Phí. Mua Online Giá Rẻ Bất Ngờ" />

        <meta name="keywords" content="quần áo thời trang nam nữ, quần áo nam, quàn áo nữ, thời trang nam giá rẻ, thời trang nữ giá rẻ, shop thời trang nam nữ" />

    

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,700,500italic,700italic,900&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

    

    <link href="https://res.yame.vn/14112022/Content/CssFramework.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/14112022/Content/theme1/fonts/icomoon/style.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/14112022/Content/theme1.css?v=2" rel="stylesheet"/>

    <link href="https://res.yame.vn/14112022/Content/Custom.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/14112022/Scripts/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet"/>


    
    <style>
        .firebaseui-title {
            display:none;
        }
    </style>




    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1772218379751100');
        fbq('track', 'PageView');
        
    </script>
    <!-- End Facebook Pixel Code -->
	


    <script src="https://res.yame.vn/firebasejs/ui/firebase-ui-auth__vi.js"></script>
    <link type="text/css" rel="stylesheet" href="https://res.yame.vn/firebasejs/ui/firebase-ui-auth.css" />
</head>
<body>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1772218379751100&ev=PageView&noscript=1" />
    </noscript>

    <div class="site-wrap">






<div class="site-navbar bg-dark py-2 stickyDiv">
    <div class="search-wrap">
        <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form action="/search" method="post">
                <input type="text" name="keyword" class="form-control" placeholder="Nhập sản phẩm cần tìm...">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">

            <div class="icons align-items-left" id="leftIconsBar" style="width:0; display:none;">
                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-lg-none"><span class="icon-menu"></span></a>
            </div>



            <div class="logo" style="width:15%; text-align:left;">
                <div class="site-logo">
                        <a href="/" class="js-logo-clone">
                            <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" alt="Yame.vn" style="width: 66px; margin-left:0%;" />
                        </a>

                </div>
            </div>


            <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">



            <li><a href="/shop/gu-toi-gian?s=2">GU TỐI GIẢN</a></li>
            <li class="has-children">
                <a href="/shop/gu-don-gian?s=2">GU ĐƠN GIẢN</a>
                <ul class="dropdown">
                    

            <li><a href="/shop/ao-thun-don-gian?s=2">&#193;o thun đơn giản</a></li>
            <li><a href="/shop/ao-khoac-on-gian-2?s=2">&#193;o kho&#225;c đơn giản 2</a></li>
            <li><a href="/shop/ao-so-mi-don-gian?s=2">&#193;o sơ mi đơn giản</a></li>
            <li><a href="/shop/quan-dai-don-gian?s=2">Quần d&#224;i đơn giản</a></li>
            <li><a href="/shop/quan-short-don-gian?s=2">Quần short đơn giản</a></li>


                </ul>
            </li>
            <li class="has-children">
                <a href="/shop/gu-thiet-ke?s=2">GU THIẾT KẾ</a>
                <ul class="dropdown">
                    

            <li><a href="/shop/12-vi-anh-hung?s=2">GU 12 Vị Anh H&#249;ng D&#226;n Tộc</a></li>
            <li><a href="/shop/vi-than-co-ai?s=2">GU Thần Cổ Đại</a></li>
            <li><a href="/shop/nguyen-to-chom-sao?s=2">GU Ng&#226;n H&#224;</a></li>
            <li><a href="/shop/thien-nhien-ky-vi?s=2">GU Dị Biệt</a></li>
            <li><a href="/shop/y-originals?s=2">GU Y Nguy&#234;n Bản 18+</a></li>


                </ul>
            </li>
            <li class="has-children">
                <a href="/shop/gu-thoi-trang-unisex?s=2">GU UNISEX</a>
                <ul class="dropdown">
                    

            <li><a href="/shop/linh-vat?s=2">GU Linh vật</a></li>
            <li><a href="/shop/y-nguyen-ban-18-?s=2">GU Y Nguy&#234;n Bản 18-</a></li>


                </ul>
            </li>



    <li class="has-children position-static">
        <a href="javascript:;"><span class="icon-menu"></span></a>
        <div class="dropdown w-100 dropdown-fullw">
            <div class="d-flex flex-wrap">
                <div class="p-3">
                        <a href="/shop/gu-the-thao?s=2" class="text-uppercase">GU THỂ THAO</a>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/ao-thun?s=2" class="text-uppercase">&#193;o Thun</a>
                        <ul class="list-unstyled">
                            

            <li><a href="/shop/ao-thun-form-tieu-chuan?s=2">Cổ tr&#242;n form ti&#234;u chuẩn</a></li>
            <li><a href="/shop/ao-thun-form-rong?s=2">Cổ tr&#242;n form rộng</a></li>
            <li><a href="/shop/ao-thun-3-lo?s=2">&#193;o thun 3 Lỗ</a></li>
            <li><a href="/shop/ao-thun-co-tru?s=2">&#193;o Thun Cổ Trụ</a></li>
            <li><a href="/shop/ao-thun-sweater?s=2">&#193;o Thun Sweater</a></li>
            <li><a href="/shop/ao-thun-toi-gian?s=2">&#193;o thun Tối Giản</a></li>


                        </ul>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/ao-khoac?s=2" class="text-uppercase">&#193;o kho&#225;c</a>
                        <ul class="list-unstyled">
                            

            <li><a href="/shop/ao-khoac-classic?s=2">&#193;o kho&#225;c Classic</a></li>
            <li><a href="/shop/ao-khoac-varsity?s=2">&#193;o kho&#225;c Varsity</a></li>
            <li><a href="/shop/ao-khoac-bomber?s=2">&#193;o kho&#225;c Bomber</a></li>
            <li><a href="/shop/ao-khoac-cardigan?s=2">&#193;o kho&#225;c Cardigan</a></li>
            <li><a href="/shop/ao-khoac-hoodie?s=2">&#193;o kho&#225;c Hoodie</a></li>
            <li><a href="/shop/ao-khoac-la-co?s=2">&#193;o kho&#225;c L&#225; Cổ</a></li>


                        </ul>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/ao-so-mi?s=2" class="text-uppercase">&#193;o sơ mi</a>
                        <ul class="list-unstyled">
                            

            <li><a href="/shop/ao-so-mi-tay-dai?s=2">&#193;o sơ mi tay d&#224;i</a></li>
            <li><a href="/shop/ao-so-mi-tay-ngan?s=2">&#193;o sơ mi tay ngắn</a></li>
            <li><a href="/shop/ao-so-mi-co-danton?s=2">&#193;o sơ mi cổ Cuban / Danton</a></li>


                        </ul>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/quan-dai?s=2" class="text-uppercase">Quần d&#224;i</a>
                        <ul class="list-unstyled">
                            

            <li><a href="/shop/quan-jogger?s=2">Quần Jogger</a></li>
            <li><a href="/shop/quan-tay?s=2">Quần T&#226;y</a></li>
            <li><a href="/shop/quan-jean?s=2">Quần Jean</a></li>
            <li><a href="/shop/quan-ong-rong?s=2">Quần Ống Rộng</a></li>
            <li><a href="/shop/quan-trouser?s=2">Quần Trouser</a></li>


                        </ul>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/quan-short?s=2" class="text-uppercase">Quần Short</a>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/phu-kien-nam?s=2" class="text-uppercase">Phụ kiện</a>
                        <ul class="list-unstyled">
                            

            <li><a href="/shop/non?s=2">N&#243;n</a></li>
            <li><a href="/shop/tat---vo?s=2">Tất - Vớ</a></li>
            <li><a href="/shop/day-nit-nam?s=2">D&#226;y Nịt Da</a></li>
            <li><a href="/shop/vi-da?s=2">V&#237; Da</a></li>
            <li><a href="/shop/quan-lot?s=11">Quần L&#243;t</a></li>


                        </ul>
                    
                </div>
                <div class="p-3">
                        <a href="/shop/bltx?s=2" class="text-uppercase">Balo-T&#250;i</a>
                    
                        <ul></ul>
                        <a href="/shop/giay-dep-sandal?s=2" class="text-uppercase mt-3">Gi&#224;y D&#233;p Sandal</a>
                </div>
                <div class="p-3">
                        <a href="/shop/flash-sale-50?s=2" class="text-uppercase">FLASH SALE</a>
                    
                        <ul></ul>
                        <a href="/shop/hang-mo-ban?s=11" class="text-uppercase mt-3">MỞ B&#193;N</a>
                </div>
            </div>
        </div>
    </li>


                    </ul>
                </nav>
            </div>

            <div class="icons align-items-right" id="rightIconsBar" style="width:20%;">

                <a href="javascript:;" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>


                    <a class="icons-btn d-inline-block" href="/member/loginbyphone"><span class="icon-user-o"></span></a>

                <a href="/cart/review" class="icons-btn d-inline-block bag">
                    <span class="icon-shopping-bag"></span>
                            <span class="number" id="NoOfItemsInCart">0</span>

                </a>
            </div>
        </div>
    </div>
</div>

        <div class="container-fluid mb-4">
            



<div class="row">
    <div class="col-sm-12">
        <div class="breadcrumb">
            <a href="/"><i class="icon fa fa-home"></i></a>
            <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Đăng ký/Đăng nhập</strong>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 text-center">
        <span style="font-size:22px;">Đăng ký/Đăng nhập <br /> bằng số điện thoại</span>        
    </div>
    <div class="col-sm-12">
        <div id="firebaseui-auth-container"></div>
        <div>
            <div class="mb-4 mt-4 text-center" style="font-size:22px; font-weight:bold;">
                <p class="mb-0">Theo dõi đơn hàng</p>
                <p>Giảm giá lên đến 15%</p>
            </div>
        </div>
        <div style="display:none;">
            <form method="post" action="/member/doregistered" enctype="multipart/form-data" id="frmDoRegistered">
                <input name="__RequestVerificationToken" type="hidden" value="7MvZ86FGWf13HAaR2ih-j6V_vzUTOrqochxNXSrHhlY18bWx91bQMEgdT8DlfK5Inj-1jusS-BvjXfNAUjwrXWe0zz2Bp8-rFNXOwSHkvMw1" />
                <input type="hidden" name="phone" id="__phone" />
                <input type="hidden" name="uid" id="__uid" />
                <input type="hidden" name="password" id="__password" />
                <input type="hidden" name="emailcredential" id="__emailcredential" />
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="formCreatePassword" style="margin-top:100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo mật khẩu đăng nhập</h5>
            </div>
            <div class="modal-body">
                <div id="createAccountAlertPlaceholder"></div>
                <form>
                    <p>Vui lòng tạo mật khẩu để đăng nhập lần sau</p>
                    <div class="mb-3">
                        
                        <input type="password" class="form-control required" id="txtPassword" name="txtPassword" placeholder="Mật khẩu">
                    </div>
                    <div class="mb-3">
                        
                        <input type="password" class="form-control required" id="txtPasswordVerify" name="txtPasswordVerify" placeholder="Xác nhận mật khẩu">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCreatePassword">Tiếp tục</button>
                <button type="button" class="btn btn-secondary" id="btnSkip">Bỏ qua</button>
            </div>
        </div>
    </div>
</div>



        </div>





        

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <a href="/">
                    <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" style="height: 70px;" />
                </a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 text-center" id="ThongTinFooter">
                <p style="margin-bottom: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                <h5 class="boxed-content-title">(028) 7307 1441</h5>   
			<p style="margin-bottom: 0;">
                            <a href="https://yame.vn/thanphien"
                               target="_blank">Than phiền/Góp ý</a>
                        </p>
             
                <h4 id="titleThongTin"><a href="javascript:;" style="color:#00ffff !important; text-transform:none !important;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThongTin" aria-expanded="false" aria-controls="collapseThongTin">Xem thêm Thông tin YaMe <span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i></span></a></h4>
                <div id="collapseThongTin" class="collapse mb-4" aria-labelledby="titleThongTin" data-parent="#ThongTinFooter">
                    <ul class="list-unstyled">
                        <li><a href="https://yame.vn/bai-viet/yamevn---gioi-thieu/7c224805-3712-47c5-92f1-e1225e02d54e">Giới thiệu về YaMe.vn</a></li>
                        <li><a href="/page/tuyen-dung">Tuyển dụng</a></li>
                        <li>.</li>
                        <li><a href="/page/quy-che-hoat-dong">Quy chế hoạt động</a></li>
                        <li><a href="/page/dieu-khoan-mua-ban-hang-hoa">Điều khoản mua bán</a></li>
                        <li>.</li>
                        <li><a href="/voucher" class="boxed-content-title">Mã Voucher giảm giá</a></li>
                    </ul>
                    <div>
                        <div>
                            <br />
                            <p style="margin-bottom: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                            <h5 class="boxed-content-title">(028) 7307 1441</h5>
                        </div>
                    </div>
                    <br />
                    <h4>FAQ</h4>
                    <ul class="list-unstyled">
                        <li><a href="/page/van-chuyen">Vận chuyển</a></li>
                        <li><a href="/page/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                        <li><a href="/page/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
                        <li><a href="/page/khach-hang-vip">Khách hàng VIP</a></li>
                        <li><a href="/page/doi-tac-cung-cap">Đối tác cung cấp</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="owl-carousel owl-theme" id="owl-dsCH">
                <div class="col-12">
                    <h6 class="mb-4">
                        <i class="fa fa-map-signs"></i> Tp. HỒ CHÍ MINH
                    </h6>

                    <div>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.10: 770F, Sư Vạn Hạnh (nd)</p>

                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.5: 190, Nguyễn Trãi</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.6: 102 Hậu Giang</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.7: 323 Huỳnh Tấn Phát</p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.9: 114 Đỗ Xuân Hợp
                        </p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q9: 200 Lê Văn Việt</p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q12: 290 Phan Văn Hớn
                        </p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.BT: 138 Lê Văn Duyệt</p>
                        <p>                            
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Tân Phú 2: 189 Hòa Bình
                        </p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Q.Bình Tân: 232 Lê Văn Quới</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Gò Vấp: 417, Quang Trung</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Gò Vấp 2: 1096 Quang Trung</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Hóc Môn: 39 Quang Trung</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Thủ Đức: 336, Võ Văn Ngân</p>
<p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Củ Chi: 176 Liêu Bình Hương</p>                        
<p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Bình Chánh 1: 566 Quốc Lộ 50</p>                        
                    </div>
                </div>
                <div class="col-12">
                    <h6 class="mb-4">
                        <i class="fa fa-map-signs"></i> TÂY NAM BỘ
                    </h6>
                    <div>
                        
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Cần Thơ: 45 đ. 3 Tháng 2
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Cần Thơ: 381B Nguyễn Văn Cừ
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Tân An: 492 Hùng Vương
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Mỹ Tho: 326 đường Ấp Bắc
                        </p>
			<p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Cái Bè: 455 ĐT875 Khu 4
                        </p>

                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Bến Tre:209 Đồng Khởi Tp.BT
                        </p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Sa Đéc - 289 Nguyễn Sinh Sắc</p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Cao Lãnh: 66A Tôn Đức Thắng
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Vĩnh Long: 27A Phạm Thái Bường
                        </p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Trà Vinh: 09 Nguyễn Đáng</p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Long Xuyên: 47 Tôn Đức Thắng</p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Tp. Rạch Giá: 290 Nguyễn Trung Trực
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Sóc Trăng: 126 Tôn Đức Thắng
                        </p>

                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Cà Mau: 111 Trần Hưng Đạo</p>
                    </div>

                </div>
                <div class="col-12">
                    <h6 class="mb-4">
                        <i class="fa fa-map-signs"></i> ĐÔNG NAM BỘ & TÂY NGUYÊN
                    </h6>

                    <div>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Tp.Thủ Dầu Một: 187, Yersin
                        </p>

                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i>  YaMe Tp. Dĩ An: 82A Nguyễn An Ninh
                        </p>
                        <p><i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Tp. Thuận An: 132 Ngô Quyền</p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Biên Hòa: 30, Dương Tử Giang
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Vũng Tàu: 528 Trương Công Định
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Tây Ninh: 586 Cách Mạng Tháng 8
                        </p>
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Đồng Xoài: 766 Phú Riềng Đỏ
                        </p>



                        <br />
                        <p>
                            <i class="" style="background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBQoDAgF3cpNwAAAA70lEQVQoz6XQzyqEcRTG8c95Z0j+RjTTWGBJuQBs2ShKuQzX4w7sLEZyBVNqlkoWNqMky5HRmBHvz8KMXrHzbE49fZ/OOU/4VoKq8Eh8u5mi5h3YNlO0fgJJSVPnF5CkSLMqqibtWlVNcykSiMHuDWsqOs7l9k1ou3ZJKCfYsuxExY4xJV2nnh0qaSSR2LSsrosV63JX7jHuUEujjJq2nmkdrWiRCFNePFkkEqP21OSOpTAAjox4UNfPgjcXbr0X2gnvbpzph4ygp6lbAHjV1ItfRf2h/wPlwfywYFeehrF5H8N7vx7LLJkoBLvu5IFPD8BHPpwYdgUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUtMTBUMDM6MDI6MDEtMDQ6MDA8Zfw7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTEwVDAzOjAyOjAxLTA0OjAwTThEhwAAAABJRU5ErkJggg==');display: inline-block;width: 16px;height: 16px;"></i> YaMe Buôn Ma Thuột: 64 Phan Chu Trinh
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10  col-12  mcenter">
                <hr style="margin: 10px 0;" />
                <p style="margin-bottom: 0;">&copy; 2022 - CÔNG TY TNHH YAME VN</p>
                <p style="margin-bottom: 0; font-size: 9px;">Giấy CNĐKDN: 0310874914 – Ngày cấp: 25/11/2011 - Cơ quan cấp: Phòng Đăng Ký Kinh Doanh – Sở Kế Hoạch và Đầu Tư TP.HCM</p>
                <p style="margin-bottom: 0; font-size: 9px;">Địa chỉ đăng ký kinh doanh: 766/3B-3C Sư Vạn Hạnh (Nối dài), Phường 12, Quận 10, TP.HCM - Điện thoại: (028) 3868 4857 - Mua hàng: (028) 7307 1441 - Email: cskh@yame.vn</p>
            </div>
            <div class="col-md-2 col-12 mcenter">
                <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=1848" target="_blank">
                    <img src="https://res.yame.vn/dathongbao.png" alt="" style="width: 100%; max-width:150px; margin-top:10px;" />
                </a>
            </div>
        </div>
    </div>
</div>
    </div>

    <script src="https://res.yame.vn/2022/Content/JsFramework.js"></script>

    <script src="https://res.yame.vn/2022/Scripts/OwlCarousel2/owl.carousel.min.js"></script>

    <script src="https://res.yame.vn/14112022/Content/theme1.js"></script>

    <script src="https://res.yame.vn/2022/Scripts/app.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://res.yame.vn/firebasejs/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://res.yame.vn/firebasejs/firebase-auth.js"></script>
<script src="https://res.yame.vn/firebasejs/firebase-messaging.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyA-Do1DL6kUeFID4A_ejzZpx8kAWgyrfsI",
        authDomain: "yame-5cf79.firebaseapp.com",
        databaseURL: "https://yame-5cf79.firebaseio.com",
        projectId: "yame-5cf79",
        storageBucket: "yame-5cf79.appspot.com",
        messagingSenderId: "98846041174",
        appId: "1:98846041174:web:c253c8e2908bc8b57187f7",
        measurementId: "G-WDEF6TRRQH"
        //languageCode: "vn"
    };
    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    //const analytics = firebase.getAnalytics(app);

    // Retrieve an instance of Firebase Messaging so that it can handle background
    // messages.
    //const messaging = firebase.messaging();

    //set language
    firebase.auth().languageCode = 'vi';
</script>
    <script>
        jQuery(function ($) {
            "use strict";

            //Preloader
            $(window).on('load', function () {

            });
        });

        $(document).ready(function () {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {

                } else {

                }
            });

            //footer owlCarousel
            $('#owl-dsCH').owlCarousel({
                loop: true,                
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: false
                    }
                },
                dots: false,
                autoHeight: true,
                autoWidth: true,
                //center:true
            });

        });

        function __doLogout() {
            firebase.auth().signOut();
            window.location.replace($(location).attr('protocol') + '//' + $(location).attr('host') + "/member/dologout");
        }

    </script>

    
    

    
    <script type="text/javascript">

        $(document).ready(function () {

            var createAccountAlertPlaceholder = document.getElementById('createAccountAlertPlaceholder');

            function showAlert(message, type, el) {
                var wrapper = document.createElement('div')
                wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert"><div>' + message + '</div><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
                el.append(wrapper)
            }

            var uiConfig = {
                callbacks: {
                    signInSuccessWithAuthResult: function (authResult, redirectUrl) {
                        var user = authResult.user;


                        //window.location.href = "https://yame.vn/";

                        //var credential = authResult.credential;
                        //var isNewUser = authResult.additionalUserInfo.isNewUser;
                        //var providerId = authResult.additionalUserInfo.providerId;
                        //var operationType = authResult.operationType;

                        $('#__phone').val(user.phoneNumber);
                        $('#__uid').val(user.uid);

                        

                        $('#frmDoRegistered').submit();

                        return false;
                    },
                    signInFailure: function (error) {
                        console.log(error);
                        return handleUIError(error);
                    },
                    uiShown: function () {
                        // The widget is rendered.

                    }
                },
                signInOptions: [
                    {
                        provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
                        // Invisible reCAPTCHA with image challenge and bottom left badge.
                        recaptchaParameters: {
                            type: 'image',
                            size: 'normal',
                            badge: 'bottomleft'
                        },
                        defaultCountry: 'VN'
                    }
                ]
            };

            // Initialize the FirebaseUI Widget using Firebase.
            var ui = new firebaseui.auth.AuthUI(firebase.auth());
            firebase.auth().settings.appVerificationDisabledForTesting = false;

            ui.start('#firebaseui-auth-container', uiConfig);


            $('#btnCreatePassword').click(function () {
                var password = $('#txtPassword').val();
                var verify = $('#txtPasswordVerify').val();

                if (password != verify || password == '') {
                    showAlert('Vui lòng nhập mật khẩu và xác nhận mật khẩu hợp lệ.', 'danger', createAccountAlertPlaceholder);
                } else {
                    const user = firebase.auth().currentUser;
                    if (user) {
                        //Create account
                        firebase.auth().createUserWithEmailAndPassword(user.uid + '@yame.vn', password)
                            .then((userCredential) => {
                                $('#__password').val(password);
                                $('#__emailcredential').val(userCredential.user.uid);

                                //console.log(password);
                                //console.log(userCredential.user.uid);

                                $('#formCreatePassword').modal('hide');

                                $('#frmDoRegistered').submit();
                            })
                            .catch((error) => {
                                var errorCode = error.code;
                                var errorMessage = error.message;
                                showAlert(errorCode + ': ' + errorMessage, 'danger', createAccountAlertPlaceholder);
                            });
                    } else {

                    }

                }
            });

            $('#btnSkip').click(function () {
                $('#formCreatePassword').modal('hide');

                $('#frmDoRegistered').submit();                
            });
        });
    </script>


</body>

</html>
