



<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2205398-24"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-2205398-24');
    </script>

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "3xdyrg1i0n");
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="xFnIbRiqlbUWt2-5yqv6TejVhQ1oYB1hZiZ1jRXLzHw" />
    <link rel="icon" type="image/png" href="https://res.yame.vn/Content/images/yame-fav.png">
    <link rel="image_src" href="https://res.yame.vn/Content/images/yame.png">

    <title>Đơn h&#224;ng của t&#244;i - YaMe.vn</title>

        <meta name="description" content="Giao Hàng Nhanh Miễn Phí ✓ Bảo Hành 365 Ngày ✓ 7 Ngày Đổi Hàng Miễn Phí. Mua Online Giá Rẻ Bất Ngờ" />

        <meta name="keywords" content="quần áo thời trang nam nữ, quần áo nam, quàn áo nữ, thời trang nam giá rẻ, thời trang nữ giá rẻ, shop thời trang nam nữ" />

    

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,700,500italic,700italic,900&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="https://res.yame.vn/12122022/Content/CssFramework.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/12122022/Content/theme1/fonts/icomoon/style.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/12122022/Content/theme1.css?v=2" rel="stylesheet"/>

    <link href="https://res.yame.vn/12122022/Content/Custom.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/12122022/Scripts/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet"/>


    <link type="text/css" th:href="@{/admin/vendor/notyf/notyf.min.css}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" th:href="@{/admin/css/volt.css}" rel="stylesheet">

<link type="text/css" th:href="@{/admin/scss/volt/components/_buttons.scss}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link type="text/css" th:href="@{/admin/css/notification.css}" rel="stylesheet">


<!-- Sweet Alerts 2 -->
<script th:src="@{/admin/vendor/sweetalert2/dist/sweetalert2.all.min.js}"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script th:src="@{/admin/vendor/vanillajs-datepicker/dist/js/datepicker.min.js}"></script>

<!-- Notyf -->
<script th:src="@{/admin/vendor/notyf/notyf.min.js}"></script>

<!-- Simplebar -->
<script th:src="@{/admin/vendor/simplebar/dist/simplebar.min.js}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script th:src="@{/admin/assets/js/volt.js}"></script>
<script th:src="@{/admin/assets/js/notification.script.js}"></script>



    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1772218379751100');
        fbq('track', 'PageView');
        
    </script>
    <!-- End Facebook Pixel Code -->
	


    <script src="https://res.yame.vn/firebasejs/ui/firebase-ui-auth__vi.js"></script>
    <link type="text/css" rel="stylesheet" href="https://res.yame.vn/firebasejs/ui/firebase-ui-auth.css" />
</head>
<body>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1772218379751100&ev=PageView&noscript=1" />
    </noscript>

    <div >






<div class="site-navbar bg-dark py-2 stickyDiv">
    <div class="search-wrap">
        <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form th:action="@{/Home/search}" >
                <input type="text" name="keyword" class="form-control" placeholder="Nhập sản phẩm cần tìm...">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">

            <div class="icons align-items-left" id="leftIconsBar" style="width:0; display:none;">
                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-lg-none"><span class="icon-menu"></span></a>
            </div>



            <div class="logo" style="width:15%; text-align:left;">
                <div class="site-logo">
                        <a th:href="@{/Home/Yame}" class="js-logo-clone">
                            <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" alt="Yame.vn" style="width: 66px; margin-left:0%;" />
                        </a>

                </div>
            </div>


           <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">


				<th:block th:each= "listcategory : ${listcategory}">
            <li><a th:href = "@{'/Home/danhmuc/'  + ${listcategory.Id_Category}}" th:text="${listcategory.Category_Name}"></a></li>
            
            
                     </th:block>
<li class="has-children position-static">
        <a href="javascript:;"><span class="icon-menu"></span></a>
        <div class="dropdown w-100 dropdown-fullw">
            <div class="d-flex flex-wrap" style="justify-content: center;">
            <th:block th:each= "listcategorystatus : ${listcategorystatus}">
                <div class="p-3">
                        <a th:href = "@{'/Home/danhmuc/'  + ${listcategorystatus.Id_Category}}" class="text-uppercase" th:text="${listcategorystatus.Category_Name}"></a>
                    
                </div>
                </th:block>
               
                
            </div>
        </div>
    </li>
                    </ul>
                </nav>
            </div>

            <div class="icons align-items-right" id="rightIconsBar" style="width:20%;">

                <a href="javascript:;" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>

                    <a class="icons-btn d-inline-block" th:href = "@{/Home/dangkytk}" th:if="${taikhoan == null}"><span class="icon-user-o"></span></a>

 <div class="icons-btn d-inline-block udropdown bag" th:if="${taikhoan != null} " th:each= "taikhoan : ${taikhoan}">
    <button class="dropbtn" style="padding:1px 1px;">
        <span class="icon-user-o"></span>
        <span class="number" style="font-size:8px;">5%</span>
    </button>
    <div class="dropdown-content" >
        <a th:href = "@{'/Home/Capnhataikhoan/'  + ${taikhoan.khacHang.Id_KH }}">[[${taikhoan.Sdt}]] (-5%)</a>
        <a th:href = "@{'/Home/xemdonhang/'  + ${taikhoan.khacHang.Id_KH }}">Đơn hàng của tôi</a>
        
        <a href="/member/sanphamdaxem">Sản phẩm đã xem</a>
      
        <a href="javascript:__doLogout()">Đăng xuất</a>
    </div>
</div>
                <a href="/cart/review" class="icons-btn d-inline-block bag">
                    <span class="icon-shopping-bag"></span>
                            <span class="number" id="NoOfItemsInCarts">0</span>

                </a>
            </div>
        </div>
    </div>
</div>

        <div class="container-fluid mb-4">
            

<div class="row">
    <div class="col-sm-12">
        <div class="breadcrumb">
            <a th:href="@{/Home/Yame}"><i class="icon fa fa-home"></i></a>
            <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Danh sách sản phẩm đã xem</strong>
        </div>
    </div>
</div>


<div class="row" id="dsSanPhamVuaXem">
   

</div>
                <script type="text/javascript">
                
                addd()
                
              function addd(){
                	
                	 var tablecategory =$("#dsSanPhamVuaXem")
            			tablecategory.empty();
            			let storagecart1 =  localStorage.getItem('cartsp')
            			   cartquantity1 = JSON.parse(storagecart1)
            			cartquantity1.forEach((cart , index) =>{
            				const price = cart.giaban;
            				const formatprice1 = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            				if(cart.giakm == 0){
            	    		tablecategory.append( '<div class="col-md-3 col-6  px-1" data-aos="fade-up">'
                           +' <div class="pitem mb-2">'
                           +' <input type="hidden" value="0" />'
                           +'  <a href="/Home/Product/'+ cart.idproductsp +'">'
                           +'        <img class="img-fluid" src="/view/images/'+  cart.Imagesp+' ">'
                                    	 +'  </a>'
                                    	 +'  <div class="row">'
                                    	 +'     <div class="col-12 text-right">'
                                    	 +'          <span class="price mb-1">'
                                    	 +'     <span>' +  formatprice1 +'đ </span>'
                                    	
                                                +' </span>'
                                                +'  </div>'
                                                +' </div>'
                                                +' </div>'
                                                +' </div>'
                                                +' 	')
            				}
            				else{
            					const price1 = cart.giakm;
                				const formatprice11 = price1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            					tablecategory.append( '<div class="col-md-3 col-6  px-1" data-aos="fade-up">'
            	                           +' <div class="pitem mb-2">'
            	                           +' <input type="hidden" value="0" />'
            	                           +'  <a href="/Home/Product/'+ cart.idproductsp +'">'
            	                           +'        <img class="img-fluid" src="/view/images/'+  cart.Imagesp+' ">'
            	                                    	 +'  </a>'
            	                                    	 +'  <div class="row">'
            	                                    	 +'     <div class="col-12 text-right">'
            	                                    	 +'          <span class="price mb-1">'
            	                                    	 +'     <span style="text-decoration:line-through">' +  formatprice1 +'đ </span>'
            	                                    	 +'  <span style="color:#ff0000">'+  formatprice11 +'đ</span>'
            	                                                +' </span>'
            	                                                +'  </div>'
            	                                                +' </div>'
            	                                                +' </div>'
            	                                                +' </div>'
            	                                                +' 	')
            				}
                }
                )}
                </script>

        </div>





        

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <a href="/">
                    <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" style="height: 70px;" />
                </a>
            </div>
        </div>
         <div class="row mb-2">
            <div class="col-12 text-center" id="ThongTinFooter">
                <p style="margin-bottom: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                <h5 class="boxed-content-title">0357 534 716</h5>   
			

            </div>
        </div>

          </div>
        </div>
 </div>
    <script src="https://res.yame.vn/2022/Content/JsFramework.js"></script>

    <script src="https://res.yame.vn/2022/Scripts/OwlCarousel2/owl.carousel.min.js"></script>

    <script src="https://res.yame.vn/12122022/Content/theme1.js"></script>

    <script src="https://res.yame.vn/2022/Scripts/app.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://res.yame.vn/firebasejs/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://res.yame.vn/firebasejs/firebase-auth.js"></script>
<script src="https://res.yame.vn/firebasejs/firebase-messaging.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyA-Do1DL6kUeFID4A_ejzZpx8kAWgyrfsI",
        authDomain: "yame-5cf79.firebaseapp.com",
        databaseURL: "https://yame-5cf79.firebaseio.com",
        projectId: "yame-5cf79",
        storageBucket: "yame-5cf79.appspot.com",
        messagingSenderId: "98846041174",
        appId: "1:98846041174:web:c253c8e2908bc8b57187f7",
        measurementId: "G-WDEF6TRRQH"
        //languageCode: "vn"
    };
    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    //const analytics = firebase.getAnalytics(app);

    // Retrieve an instance of Firebase Messaging so that it can handle background
    // messages.
    //const messaging = firebase.messaging();

    //set language
    firebase.auth().languageCode = 'vi';
</script>
    <script>
        jQuery(function ($) {
            "use strict";

            //Preloader
            $(window).on('load', function () {

            });
        });

        $(document).ready(function () {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {

                } else {

                }
            });

            //footer owlCarousel
            $('#owl-dsCH').owlCarousel({
                loop: true,                
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: false
                    }
                },
                dots: false,
                autoHeight: true,
                autoWidth: true,
                //center:true
            });

        });

        function __doLogout() {
            firebase.auth().signOut();
            window.location.replace($(location).attr('protocol') + '//' + $(location).attr('host') + "/member/dologout");
        }
        loandQuantityCart();
        function loandQuantityCart(){
        	   let storagecart =  localStorage.getItem('cart')
        	   cartquantity = JSON.parse(storagecart)
        	
        	   if(  cartquantity == null || cartquantity.length ==0 ){
        		   $('#NoOfItemsInCarts').html(0);
        		  
        	   }else{
        	  	 $('#NoOfItemsInCarts').html(cartquantity.length);
        	   
        	   }
        }

    </script>

    
    

    

</body>

</html>
