
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2205398-24"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-2205398-24');
    </script>

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "3xdyrg1i0n");
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="xFnIbRiqlbUWt2-5yqv6TejVhQ1oYB1hZiZ1jRXLzHw" />
    <link rel="icon" type="image/png" href="https://res.yame.vn/Content/images/yame-fav.png">
    <link rel="image_src" href="https://res.yame.vn/Content/images/yame.png">

    <title>&#193;o Thun Cổ Tr&#242;n Đơn Giản Y Nguy&#234;n Bản Ver129 - YaMe.vn</title>

        <meta name="description" content="Giao Hàng Nhanh Miễn Phí ✓ Bảo Hành 365 Ngày ✓ 7 Ngày Đổi Hàng Miễn Phí. Mua Online Giá Rẻ Bất Ngờ" />

        <meta name="keywords" content="quần áo thời trang nam nữ, quần áo nam, quàn áo nữ, thời trang nam giá rẻ, thời trang nữ giá rẻ, shop thời trang nam nữ" />

    
    <meta property="fb:admin" content="www.YaMe.vn" />
    <meta property="og:title" content="&#193;o Thun Cổ Tr&#242;n Đơn Giản Y Nguy&#234;n Bản Ver129" />
        <meta property="og:description" content="Áo Thun Cổ Tròn Đơn Giản Y Nguyên Bản Ver129
Chất liệu: Cotton Plus
Thành phần : 80% Cotton 20% Polyester
+ May đắp logo" />
    <meta property="og:image" content="https://cdn2.yame.vn/pimg/ao-thun-co-tron-on-gian-y-nguyen-ban-ver120-0021571/c10b3dde-3d16-7a00-b95c-001999b40a44.jpg?w=540&amp;h=756" />
    <meta property="og:url" content="https://yame.vn:443/shop/ao-thun/ao-thun-co-tron-on-gian-y-nguyen-ban-ver120-0021571?c=Tr%E1%BA%AFng" />
    <meta property="og:site_name" content="Quần áo nam, Quần áo nữ, Thời trang nam giá rẻ, Thời trang nữ giá rẻ, Shop thời trang nam nữ. Giao Hàng Nhanh Miễn Phí ✓ Bảo Hành 365 Ngày ✓ 7 Ngày Đổi Hàng Miễn Phí. Mua Online Giá Rẻ Bất Ngờ - You Are My Everything" />


    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,700,500italic,700italic,900&subset=latin,greek,greek-ext,vietnamese,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

    

    <link href="https://res.yame.vn/06112022/Content/CssFramework.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/06112022/Content/theme1/fonts/icomoon/style.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/06112022/Content/theme1.css?v=2" rel="stylesheet"/>

    <link href="https://res.yame.vn/06112022/Content/Custom.css" rel="stylesheet"/>

    <link href="https://res.yame.vn/06112022/Scripts/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet"/>


    
    <style type="text/css">
        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
        }

            .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        /* -----------------------------------------------------------------
            - Lightbox video
        ----------------------------------------------------------------- */
        .lightbox-backdrop {
            background: rgba(27, 27, 27, 0.5);
            display: none;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            width: 100%;
            z-index: 10000;
        }

        .lightbox-content {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        .video-foreground {
            position: relative;
            height: 80%;
            width: 70%;
        }

        @media only screen and (max-width: 1500px) {
            .video-foreground {
                height: 80%;
                width: 90%;
            }
        }

        @media only screen and (max-width: 992px) {
            .video-foreground {
                height: 70%;
                width: 90%;
            }
        }

        @media only screen and (max-width: 576px) {
            .video-foreground {
                height: 40%;
                margin-left: 15px;
                margin-right: 15px;
                width: 100%;
            }
        }

        .video-foreground iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .close-popup {
            border: 1px solid rgba(244, 244, 244, 0.8);
            border-radius: 50%;
            color: #72809D;
            cursor: pointer;
            font-size: 1.1rem;
            line-height: 2.3rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            text-align: center;
            height: 2.5rem;
            width: 2.5rem;
            transition: all .3s ease-in-out;
        }

            .close-popup:hover {
                background-color: rgba(244, 244, 244, 0.8);
                box-shadow: 0 0 0 5px rgba(244, 244, 244, 0.8);
            }

        @media only screen and (max-width: 576px) {
            .close-popup {
                font-size: .8rem;
                line-height: 1.4rem;
                height: 1.6rem;
                width: 1.6rem;
                top: 13rem;
            }
        }

        .btn-play {
            background-color: #fff;
            background-image: url("data:image/svg;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjAyMyA2LjcyNTQ5TDIuMzU2MDUgMC4wNTg2NjgyQzIuMjUzNzIgLTAuMDExNjY2OCAyLjEyMTA1IC0wLjAxOTAwMDMgMi4wMTE3MSAwLjAzODAwMUMxLjkwMjA0IDAuMDk1NjY5IDEuODMzMzcgMC4yMDkwMDUgMS44MzMzNyAwLjMzMzAwOFYxMy42NjY3QzEuODMzMzcgMTMuNzkwNyAxLjkwMjA0IDEzLjkwNDMgMi4wMTE3MSAxMy45NjJDMi4wNjAzOCAxMy45ODczIDIuMTEzNzEgMTQgMi4xNjY3MiAxNEMyLjIzMzA1IDE0IDIuMjk5MDUgMTMuOTggMi4zNTYwNSAxMy45NDFMMTIuMDIzIDcuMjc0MTdDMTIuMTEzMyA3LjIxMTg0IDEyLjE2NyA3LjEwOTUgMTIuMTY3IDYuOTk5ODNDMTIuMTY3IDYuODkwMTYgMTIuMTEzIDYuNzg3ODMgMTIuMDIzIDYuNzI1NDlaIiBmaWxsPSIjMkMzRjU4Ii8+Cjwvc3ZnPgo=");
            background-size: 22%;
            background-position: center;
            border-radius: 50%;
            box-shadow: none;
            display: block;
            height: 4rem;
            position: relative;
            transition: all .5s ease-in-out;
            width: 4rem;
        }

            .btn-play::before {
                content: '';
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                height: 148%;
                margin: auto;
                position: absolute;
                top: 0;
                right: -50%;
                bottom: 0;
                left: -50%;
                width: 148%;
            }

            .btn-play:hover, .header__btn-play:hover .btn-play {
                box-shadow: 0 0 0 0.5rem #fff;
            }

        @media only screen and (max-width: 576px) {
            .btn-play {
                height: calc(4rem / 1.4);
                width: calc(4rem / 1.4);
            }
        }

        .btn-play__popup::after {
            content: '';
            background-color: #fff;
            border-radius: 50%;
            height: 2rem;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 2rem;
            z-index: -1;
        }

        .btn-play__popup.is-active {
            transform: scale(60);
        }

            .btn-play__popup.is-active::after {
                z-index: 1;
            }

        .intro__btn-play {
            width: 100%;
            background-color: transparent;
            border: none;
            color: #111;
            border: dotted 1px #333;
            border-radius: 10%;
            font-size: 1.125rem;
            font-weight: 200;
            display: inline-flex;
            -ms-flex-align: center;
            align-items: center;
        }

            .intro__btn-play:focus {
                border: none;
            }

        .dsThumbs-nav {
            display: block;
        }
    </style>

    <link href="https://res.yame.vn/310/Content/swipebox/css/swipebox.min.css" rel="stylesheet"/>





    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1772218379751100');
        fbq('track', 'PageView');
        
    fbq('track', 'ViewContent',{content_type:'product', content_ids:'09930634-988c-6e12-1a0d-00193f33537b', currency:'VND', value:'181600'});

    </script>
    <!-- End Facebook Pixel Code -->
	


</head>
<body>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1772218379751100&ev=PageView&noscript=1" />
    </noscript>

    <div >






<div class="site-navbar bg-dark py-2 stickyDiv">
    <div class="search-wrap">
        <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form action="/search" method="post">
                <input type="text" name="keyword" class="form-control" placeholder="Nhập sản phẩm cần tìm...">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">

            <div class="icons align-items-left" id="leftIconsBar" style="width:0; display:none;">
                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-lg-none"><span class="icon-menu"></span></a>
            </div>



            <div class="logo" style="width:15%; text-align:left;">
                <div class="site-logo">
                        <a th:href="@{/Home/Yame}" class="js-logo-clone">
                            <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" alt="Yame.vn" style="width: 66px; margin-left:0%;" />
                        </a>

                </div>
            </div>


           <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center" role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">


				<th:block th:each= "listcategory : ${listcategory}">
            <li><a th:href = "@{'/Home/danhmuc/'  + ${listcategory.Id_Category}}" th:text="${listcategory.Category_Name}"></a></li>
            
            
                     </th:block>
<li class="has-children position-static">
        <a href="javascript:;"><span class="icon-menu"></span></a>
        <div class="dropdown w-100 dropdown-fullw">
            <div class="d-flex flex-wrap" style="justify-content: center;">
            <th:block th:each= "listcategorystatus : ${listcategorystatus}">
                <div class="p-3">
                        <a th:href = "@{'/Home/danhmuc/'  + ${listcategorystatus.Id_Category}}" class="text-uppercase" th:text="${listcategorystatus.Category_Name}"></a>
                    
                </div>
                </th:block>
               
                
            </div>
        </div>
    </li>
                    </ul>
                </nav>
            </div>

            <div class="icons align-items-right" id="rightIconsBar" style="width:20%;">

                <a href="javascript:;" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>


                    <a class="icons-btn d-inline-block" href="/member/loginbyphone" th:if="${taikhoan == null}"><span class="icon-user-o"></span></a>
 <div class="icons-btn d-inline-block udropdown bag" th:if="${taikhoan != null} " th:each= "taikhoan : ${taikhoan}">
    <button class="dropbtn" style="padding:1px 1px;">
        <span class="icon-user-o"></span>
        <span class="number" style="font-size:8px;">5%</span>
    </button>
    <div class="dropdown-content" >
        <a th:href = "@{'/Home/Capnhataikhoan/'  + ${taikhoan.khacHang.Id_KH }}">[[${taikhoan.Sdt}]] (-5%)</a>
        <a href="/member/myorders">Đơn hàng của tôi</a>
        
        <a href="/member/sanphamdaxem">Sản phẩm đã xem</a>
        <a href="/member/tichdiem">Quyền lợi V.I.P</a>
        <a href="javascript:__doLogout()">Đăng xuất</a>
    </div>
</div>
                <a href="/cart/review" class="icons-btn d-inline-block bag">
                    <span class="icon-shopping-bag"></span>
                            <span class="number" id="NoOfItemsInCarts"></span>

                </a>
            </div>
        </div>
    </div>
</div>




        <div class="container-fluid mb-4">
            




<div class="row mb-2">
    <div class="col-sm-12 px-0">
        <div class="breadcrumb">
            
            <a th:href="@{/Home/Yame}"><i class="fa fa-chevron-left"></i></a>
            <span class="mx-2">/</span>

                <strong class="text-black">[[${product.Product_Name}]]</strong>
        </div>
    </div>
</div>

<div class="row product-info  px-0">
    <div class="col-md-4 col-12">
        <div class="row">
            <div class="col-12 px-0" style="padding-right:0px;">
                <div class="mb-2">
                        <div class="owl-carousel owl-theme" id="dsThumbs">
                               
                                
                                <div class="px-1">
                                    <img class="img-fluid" th:src="@{'/view/images/' + ${product.Image}}" alt="&#193;o Thun Cổ Tr&#242;n Tối Giản Ver12" />
                                </div>
                                <div class="px-1">
                                    <img class="img-fluid" th:src="@{'/view/images/' + ${product.Image1}}" alt="&#193;o Thun Cổ Tr&#242;n Tối Giản Ver12" />
                                </div>
                                 
                        </div>
                </div>

                <div class="col-12">
                    <div class="row mb-4">
                        
                                <div class="col-2">
                                    <a href="javascript:;" class="dsThumbs-nav" style="display:inline-block" rel="0">
                                        <img class="img-fluid" th:src="@{'/view/images/' + ${product.Image}}" alt="&#193;o Thun Cổ Tr&#242;n Tối Giản Ver12" />
                                    </a>
                                </div>
                               
                                <div class="col-2">
                                    <a href="javascript:;" class="dsThumbs-nav" style="display:inline-block" rel="1">
                                        <img class="img-fluid" th:src="@{'/view/images/' + ${product.Image1}}" alt="&#193;o Thun Cổ Tr&#242;n Tối Giản Ver12" />
                                    </a>
                                </div>
                                 
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-8 col-12">
        <div class="ditem">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="text-black display-5">
                          <span id="productName">[[${product.Product_Name}]]</span>
                    </h4>


                        <p class="text-black mb-0">Chất liệu: <a href="/ChatLieu/cotton-plus.jpg" class="swipebox"><b>[[${product.Fabric_Material}]]</b></a></p>


                         <p class="text-black" th:datte-id = "${product_details}">[[${product.category.Category_Name}]]  </p>



                         <div style="display: flex; align-items:center;">
                            <h5 class="price mb-4" th:if="${product.promotional_price == 0}">
                                <span  th:text="${#numbers.formatDecimal(product.retail_Price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>
                                 
                            </h5>
                             <h5 class="price mb-4" th:if="${product.promotional_price != 0}">
                                <span style="text-decoration:line-through" th:text="${#numbers.formatDecimal(product.retail_Price, 0, 'COMMA', 0, 'POINT')}"></span>
                                <span th:text="${#numbers.formatDecimal(product.promotional_price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>
                                
                                  
                                <span style="color:#101010; font-size:14px;">&nbsp;&nbsp;(Tiết kiệm <span class="" th:text="${#numbers.formatDecimal((product.retail_Price)-product.promotional_price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>)</span>
                            </h5>
                        </div>
                            <!-- <h5 class="text-black mb-4">Gi&#225; SALE 20% trong 3 ng&#224;y đầu ti&#234;n mở b&#225;n 04/11 - 06/11/2022</h5> -->



                        <table class="table table-condensed table-productvariants">
                  							
                                        <tr   th:each= " listdetails : ${product.product_details}" >
                                        <td    > Mã số : [[${listdetails.Id_Product_Details}]]</td>
                                        <td >[[${listdetails.product_Color.Color_Name}]] ,[[${listdetails.size.Size_Name}]]</td>
                                        
                                        
                                            <td class="text-right">
                                                
                                                    <b th:if="${listdetails.Quantity == 0}">Hết hàng</b>
                                                     <b th:if="${listdetails.Quantity != 0}">Còn hàng</b> 
                                               
                                            </td>
                                                    <td class="text-right">
                                                        <form >
                                                            <input type="hidden" id="Id_Poroductsp" th:value="${product.Id_Poroduct}" />
                                                            <input type="hidden" name="__VariantId" value="91e5bd8a-33b9-2914-dea8-001951462bd5" />
                                                            <input type="hidden" name="__Characteristics" id="color" th:value="${listdetails.product_Color.Color_Name} " />
                                                            <input type="hidden" name="__Category" value="ao-thun" />
                                                            <input type="hidden" class="size" th:value="${listdetails.size.Size_Name}" />
                                                              <input type="hidden" class="size" id="Imagesp" th:value="${product.Image}" />
                                                                <input type="hidden" class="size" id="giaban" th:value="${product.retail_Price}" />
                                                                  <input type="hidden" class="size" id="giakm" th:value="${product.promotional_price}" />
                                                            <a  th:if="${listdetails.Quantity != 0 && listdetails.product.promotional_price == 0}" th:data-id= "${listdetails.Id_Product_Details}"
                                                            th:data-idsize = "${listdetails.size.Id_Size}"
                                                           th:data-sizeName = "${listdetails.size.Size_Name}"
                                                           th:data-idcolor = "${listdetails.product_Color.Id_Product_Color}"
                                                           th:data-colorname = "${listdetails.product_Color.Color_Name}"
                                                            th:data-image ="${product.Image}"
                                                           th:data-price = "${listdetails.product.retail_Price}"
                                                             onclick="addVariantToCart1(this.getAttribute('data-id'), this.getAttribute('data-idsize') ,this.getAttribute('data-sizeName')  ,this.getAttribute('data-idcolor'), this.getAttribute('data-colorname'), this.getAttribute('data-image'),this.getAttribute('data-price'))" 
                                                                  style="color:#ff0000"><i class="fa fa-plus-circle" data-toggle="tooltip" th:title= "'Thêm ' + ${listdetails.product_Color.Color_Name} + ', ' + ${listdetails.size.Size_Name} + ' vào giỏ hàng' "></i> Chọn mua</a>
                                                       
                                                        <a  th:if="${listdetails.Quantity != 0 && listdetails.product.promotional_price != 0}" th:data-id= "${listdetails.Id_Product_Details}"
                                                            th:data-idsize = "${listdetails.size.Id_Size}"
                                                           th:data-sizeName = "${listdetails.size.Size_Name}"
                                                           th:data-idcolor = "${listdetails.product_Color.Id_Product_Color}"
                                                           th:data-colorname = "${listdetails.product_Color.Color_Name}"
                                                            th:data-image ="${product.Image}"
                                                           th:data-price = "${listdetails.product.promotional_price}"
                                                             onclick="addVariantToCart1(this.getAttribute('data-id'), this.getAttribute('data-idsize') ,this.getAttribute('data-sizeName')  ,this.getAttribute('data-idcolor'), this.getAttribute('data-colorname'), this.getAttribute('data-image'), this.getAttribute('data-price'))" 
                                                                  style="color:#ff0000"><i class="fa fa-plus-circle" data-toggle="tooltip" th:title= "'Thêm ' + ${listdetails.product_Color.Color_Name} + ', ' + ${listdetails.size.Size_Name} + ' vào giỏ hàng' "></i> Chọn mua</a>
                                                       
                                                        </form>
                                                    </td>
</tr>
                                 
                                               
                    </table>

                     <script type="text/javascript">
                    
                     
                     
                    loandQuantityCart();
                   function loandQuantityCart(){
                	   let storagecart =  localStorage.getItem('cart')
                	   cartquantity = JSON.parse(storagecart)
                	
                	   if(  cartquantity == null || cartquantity.length ==0 ){
                		   $('#NoOfItemsInCarts').html(0);
                		  
                	   }else{
                	  	 $('#NoOfItemsInCarts').html(cartquantity.length);
                	   
                	   }
                   }
                   
                   savecart ()
                   
                   function savecart (){
                	   let cartsp = []
                	    var idproductsp = document.getElementById("Id_Poroductsp").value;
                	   
                       
                       var Imagesp = document.getElementById("Imagesp").value;
                       var giaban = document.getElementById("giaban").value;
                       var giakm = document.getElementById("giakm").value;
                       let storage =  localStorage.getItem('cartsp')
                       cartsp1 = JSON.parse(storage)
                       if(cartsp1 != null ){
                    		let item = cartsp1.find(c => c.idproductsp == idproductsp)
                    		if(item ){ 
                    			 
                          	}else{
                          		 cartsp1.push( data = {
                                		   idproductsp:idproductsp,
                                		    Imagesp:Imagesp,
                                		   giaban:giaban,
                                		   giakm:giakm, 
                                   	})
                                   	localStorage.setItem("cartsp", JSON.stringify(cartsp1))
                          	}
                       }else{
                    	   cartsp.push( data = {
                        		   idproductsp:idproductsp,
                        		    Imagesp:Imagesp,
                        		   giaban:giaban,
                        		   giakm:giakm, 
                           	})
                           	localStorage.setItem("cartsp", JSON.stringify(cartsp))
                       
                       }
                       
                       	console.log(idproductsp)
                      
                   }
                  
                    let cart = []
                    const addVariantToCart1 = async (id , idsize,size, idcolor , colorname ,image, Price) =>{
                    	 console.log(typeof size)
                    	var productName = document.getElementById("productName").innerHTML;
                  		 var color = document.getElementById("color").value;
                  		
		
                  	
                  	
                    	let storage =  localStorage.getItem('cart')
                    	
                    	if(storage){
                    		cart = JSON.parse(storage)
                    		
                    	}
                  	let item = cart.find(c => c.id == id && c.idcolor == idcolor && c.idsize == idsize )
                  		cart1 = JSON.parse(storage)
                  		
                  	 if(item && cart1 != null && cart1.length !=0 ){ 
                  		item.quantity +=1
                  		item.totalprice = Price * item.quantity;
                  	}
                  	else{ 
                    	//let item = cart.find(c => c.)
                    	cart.push(data ={
                    		id:id,
                    		productName:productName,
                    		image:image,
                    		idcolor:idcolor,
                    		color:color,
                    		idsize:idsize,
                    		size:size,
                    		price:Price,
                    		totalprice:Price,
                    		quantity:1,
                    		
                    	})
                    	 
                  	}
                    	localStorage.setItem('cart', JSON.stringify(cart))
                    	let storagecart =  localStorage.getItem('cart')
                   	   cartquantity = JSON.parse(storagecart)
                   	  console.log(cartquantity)
                   	   if(  cartquantity == null || cartquantity.length ==0 ){
                   		   $('#NoOfItemsInCarts').html(0);
                   		  
                   	   }else{
                   	   $('#NoOfItemsInCarts').html(cartquantity.length);
                   	   
                   	   }
                    	
                    }
                    
                    </script>



                    <div class="row mt-4">
                        <div class="col-12 mb-2">
                            <b>Hướng dẫn chọn size</b>
                        </div>
                        <div class="col-12 mb-4">
                            <form name="frmCheckSize" id="frmCheckSize" method="post" action="/ajax/checksize">
                                <div class="form-row align-items-center">
                                    <div class="col-4 my-1">
                                        <label class="sr-only" for="txtCanNang">Cân nặng</label>
                                        <div class="input-group input-group-sm">
                                            <input type="hidden" id="txtProductForm" name="txtProductForm" value="&#193;o Thun Form Ti&#234;u Chuẩn" />
                                            <input type="hidden" id="txtTypeOfProduct" name="txtTypeOfProduct" value="&#193;o Thun Cổ Tr&#242;n" />
                                            <input type="text" class="form-control" id="txtCanNang" name="txtCanNang" placeholder="Cân nặng">
                                            <div class="input-group-append">
                                                <span class="input-group-text">Kg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 my-1">
                                        <label class="sr-only" for="txtChieuCao">Chiều cao</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" id="txtChieuCao" name="txtChieuCao" placeholder="Chiều cao">
                                            <div class="input-group-append">
                                                <span class="input-group-text">Cm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto my-1">
                                        <div class="input-group input-group-sm">
                                            <button type="button" class="btn-sm btn-dark" style="height:31px;" name="btnCheckSize" id="btnCheckSize">Tìm</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="divCheckSizeResult" class="mt-2">

                            </div>
                        </div>
                    </div>

                        <div class="col-12  " style="padding: 15px 0;border: solid 1px #ccc;margin-bottom: 20px;background: #f6f6f6;text-align: center;">
                            <h5>Sản phẩm cùng bộ/liên quan</h5>
                            <div id="dsSanPhamLienQuan" class="owl-carousel owl-theme">
                                        <th:block th:each= " sanphamlienquan : ${sanphamlienquan}" >
                             
                                    <div class="vitem">
                                       <a th:href = "@{'/Home/Product/' +  '/' + ${sanphamlienquan.Id_Poroduct} }">
                                            <img class="img-responsive" th:src="@{'/view/images/' + ${sanphamlienquan.Image}}" alt="" />
                                        </a>
                                    </div>
                                   </th:block> 
                            </div>
                        </div>

                </div>

                    <div class="col-md-4 mb-4">
                        <h5 class="display-6">Mô tả sản phẩm</h5>
                        <span >[[${product.Descriptions}]]</span>
                    </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
<th:block th:each= "images : ${product.images}">
                <div class="col-12 col-md-6 mb-1 px-1" data-aos="zoom-in">
                    <img class="img-fluid text-center detailImageItem" loading="lazy" th:src="@{'/view/images/' + ${images.Image_Name}}" alt="0a9bc568-7aad-8700-4c15-001999b4727f" style="margin: auto;" />
                </div>
               
</th:block>

</div>






    <div class="row" data-aos="zoom-in">
        <div class="col-12 col-lg-12 mt-4 mb-2 text-center">
            <h4 class="text-uppercase">Sản phẩm vừa xem</h4>
            <input type="hidden"  />
        </div>
    </div>
    <div class="row" data-aos="zoom-in">
        <div class="owl-carousel owl-theme" id="dsSanPhamVuaXem">
                
                <script type="text/javascript">
                
                addd()
                
                function addd(){
                	
                	 var tablecategory =$("#dsSanPhamVuaXem")
            			tablecategory.empty();
            			let storagecart1 =  localStorage.getItem('cartsp')
            			   cartquantity1 = JSON.parse(storagecart1)
            			cartquantity1.forEach((cart , index) =>{
            				const price = cart.giaban;
            				const formatprice1 = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            				if(cart.giakm == 0){
            	    		tablecategory.append( '<div class="col-12 px-1">'
                           +' <div class="pitem mb-2">'
                           +' <input type="hidden" value="0" />'
                           +'  <a href="/Home/Product/'+ cart.idproductsp +'">'
                           +'        <img class="img-fluid" src="/view/images/'+  cart.Imagesp+' ">'
                                    	 +'  </a>'
                                    	 +'  <div class="row">'
                                    	 +'     <div class="col-12 text-right">'
                                    	 +'          <span class="price mb-1">'
                                    	 +'     <span>' +  formatprice1 +'đ </span>'
                                    	
                                                +' </span>'
                                                +'  </div>'
                                                +' </div>'
                                                +' </div>'
                                                +' </div>'
                                                +' 	')
            				}
            				else{
            					const price1 = cart.giakm;
                				const formatprice11 = price1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            					tablecategory.append( '<div class="col-12 px-1">'
            	                           +' <div class="pitem mb-2">'
            	                           +' <input type="hidden" value="0" />'
            	                           +'  <a href="/Home/Product/'+ cart.idproductsp +'">'
            	                           +'        <img class="img-fluid" src="/view/images/'+  cart.Imagesp+' ">'
            	                                    	 +'  </a>'
            	                                    	 +'  <div class="row">'
            	                                    	 +'     <div class="col-12 text-right">'
            	                                    	 +'          <span class="price mb-1">'
            	                                    	 +'     <span style="text-decoration:line-through">' +  formatprice1 +'đ </span>'
            	                                    	 +'  <span style="color:#ff0000">'+  formatprice11 +'đ</span>'
            	                                                +' </span>'
            	                                                +'  </div>'
            	                                                +' </div>'
            	                                                +' </div>'
            	                                                +' </div>'
            	                                                +' 	')
            				}
                }
                )}
                </script>

        </div>

    </div>



    <!-- Lightbox hero video -->
    <div class="lightbox-backdrop">
        <div class="close-popup icon-close"></div>
        <div class="lightbox-content">
            <div class="video-foreground">
                <div class="youtube-popup" data-yt-url="https://www.youtube.com/embed/zC9k3GitOfk?rel=0&amp;autoplay=0&amp;cc_load_policy=1&amp;mute=1"></div>
            </div>
        </div>
    </div>










        </div>





        

<div class="footer">
     <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <a href="/">
                    <img src="//res.yame.vn/Content/images/yame-f-logo-white.png" style="height: 70px;" />
                </a>
            </div>
        </div>
         <div class="row mb-2">
            <div class="col-12 text-center" id="ThongTinFooter">
                <p style="margin-bottom: 0;">Đặt hàng và thu tiền tận nơi toàn quốc</p>
                <h5 class="boxed-content-title">0357 534 716</h5>   
			
        
            </div>
        </div>

          </div>
</div>

    </div>

    <script src="https://res.yame.vn/2022/Content/JsFramework.js"></script>

    <script src="https://res.yame.vn/2022/Scripts/OwlCarousel2/owl.carousel.min.js"></script>

    <script src="https://res.yame.vn/2022/Content/theme1.js"></script>

    <script src="https://res.yame.vn/2022/Scripts/app.js"></script>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://res.yame.vn/firebasejs/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://res.yame.vn/firebasejs/firebase-auth.js"></script>
<script src="https://res.yame.vn/firebasejs/firebase-messaging.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyA-Do1DL6kUeFID4A_ejzZpx8kAWgyrfsI",
        authDomain: "yame-5cf79.firebaseapp.com",
        databaseURL: "https://yame-5cf79.firebaseio.com",
        projectId: "yame-5cf79",
        storageBucket: "yame-5cf79.appspot.com",
        messagingSenderId: "98846041174",
        appId: "1:98846041174:web:c253c8e2908bc8b57187f7",
        measurementId: "G-WDEF6TRRQH"
        //languageCode: "vn"
    };
    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    //const analytics = firebase.getAnalytics(app);

    // Retrieve an instance of Firebase Messaging so that it can handle background
    // messages.
    //const messaging = firebase.messaging();

    //set language
    firebase.auth().languageCode = 'vi';
</script>

    <script>
        jQuery(function ($) {
            "use strict";

            //Preloader
            $(window).on('load', function () {

            });
        });

        $(document).ready(function () {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {

                } else {

                }
            });

            //footer owlCarousel
            $('#owl-dsCH').owlCarousel({
                loop: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: false
                    }
                },
                dots: false,
                autoHeight: true,
                autoWidth: true,
                //center:true
            });
        });

        function __doLogout() {
            firebase.auth().signOut();
            window.location.replace($(location).attr('protocol') + '//' + $(location).attr('host') + "/member/dologout");
        }

    </script>

    
    <script src="https://res.yame.vn/310/Scripts/jquery.swipebox.min.js"></script>


    <script type="text/javascript">
        var google_tag_params = {
            dynx_itemid : '09930634-988c-6e12-1a0d-00193f33537b',
            dynx_itemid2 : 'ao-thun-co-tron-on-gian-y-nguyen-ban-ver120-0021571',
            dynx_pagetype : 'offerdetail',
            dynx_totalvalue : 181600
        };
        /* <![CDATA[ */
        var google_conversion_id = 880703804;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display: inline;">
            <img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/880703804/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>


    <script src="https://res.yame.vn/Scripts/notify/bootstrap-notify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.0/dist/howler.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#formAddToCart').submit(function () {
                //alert('Do dịch bệnh Covid-19, YaMe tạm ngưng nhận đơn hàng mới từ ngày 09/07/2021 cho đến khi có thông báo mới. Cám ơn các bạn.');
                //return false;

                $(this).validate();
                if (!$(this).valid()) {
                    return false;
                }
                return true;
            });

            $('.js-addToCart').click(function () {
                //alert('Do dịch bệnh Covid-19, YaMe tạm ngưng nhận đơn hàng mới từ ngày 09/07/2021 cho đến khi có thông báo mới. Cám ơn các bạn.');
                //return false;

                var form = $('#formAddToCart');
                form.validate();
                if (!form.valid()) {
                    return false;
                }

                $('#__IsCheckOut').val("0");
                form.submit();
                return true;
            });

            $('.js-addVariantToCart').click(function () {

                //alert('Do dịch bệnh Covid-19, YaMe tạm ngưng nhận đơn hàng mới từ ngày 09/07/2021 cho đến khi có thông báo mới. Cám ơn các bạn.');
                //return false;

                var form = $($(this).parent());
                var url = form.attr("action");

                var __ProductId = form.find("input[name='__ProductId']").val();
                var __VariantId = form.find("input[name='__VariantId']").val();
                var __Category = form.find("input[name='__Category']").val();

                var posting = $.post(url, { __VariantId: __VariantId, __ProductId: __ProductId, __Category: __Category });
                // Put the results in a div
                posting.done(function (data) {
                    var notify = $.notify({
                        message: '<strong>Cập nhật giỏ hàng</strong> <br/> Đã thêm sản phẩm vào giỏ hàng.'
                    }, {
                        type: 'success',
                        allow_dismiss: true,
                        z_index: 999999,
                        delay: 2000,
                        timer: 500,
                        offset: {
                            x: 0,
                            y: 70
                        },
                        spacing: 10,
                        placement: {
                            from: "top",
                            align: "right"
                        },
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        }
                    });
                    $('#NoOfItemsInCart').html(data);
                });

                return false;
            });


            $('.dsCuaHangCoTonKho').click(function (e) {
                //Hide others
                var cur = $(this);
                $('.dsCuaHangCoTonKho').not(cur).each(function () {
                    $(this).popover('hide');
                });

                //register event then toggle current
                cur.on('shown.bs.popover', function () {
                    var $myGroup = $('#dsCuaHangConHang');
                    $myGroup.find('a').each(function (e) {
                        var curAElement = $(this);
                        curAElement.click(function () {
                            $myGroup.on('show.bs.collapse', '.collapse', function () {
                                $myGroup.find('.collapse.in').collapse('hide');
                            });

                            $(curAElement.attr('title')).collapse('toggle');
                        });
                    });
                }).popover('toggle', {
                    html: true
                });
            });

            $('#btnCheckSize').click(function () {
               
                
               var cannang = document.getElementById("txtCanNang").value;
               var chieucao = document.getElementById("txtChieuCao").value;
              
               $.ajax({
   				url:"/Home/TimSize",
   				type: "GET",
   				data:{
   					cannang:cannang,
   					chieucao:chieucao,
   				},
   				success: function(value){
   					$("#divCheckSizeResult").html(value)
   					
   				}
   			}) 
            });

            //Init
            $('.dsCuaHangCoTonKho').popover({
                html: true
            });

            //Audio
            //Howler.autoUnlock = true;
            ////~/PName/0019801.mp3
            //var sound = new Howl({
            //    src: ['../../PName/0019801.mp3'],
            //    autoplay: true,
            //    loop: true,
            //    volume: 0.5,
            //    onend: function () {
            //        console.log('Finished!');
            //    },
            //    onplayerror: function () {
            //        console.log('onplayerror');
            //        sound.once('unlock', function () {
            //            console.log('unlock');
            //            sound.play();
            //        });
            //    }
            //});
            //sound.play();

            $('#audioControl i').on('click', function () {
                if ($(this).hasClass('fa-volume-up')) {
                    $(this).toggleClass('fa-volume-up fa-volume-off');
                    //pause playing
                    $('audio').trigger('pause');
                } else {
                    $(this).toggleClass('fa-volume-off fa-volume-up')
                    $("audio").prop("currentTime", 0);
                    $('audio').trigger('play');
                }
            });

            $('#dsThumbs').owlCarousel({
                loop: true,
                autoplay: false,
                autoplayTimeout: 4000,
                autoplayHoverPause: false,
                autoHeight: true,
                dots: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        stagePadding: 40
                    },
                    600: {
                        items: 1,
                        stagePadding: 40,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: true
                    }
                },
                nav: true
            });

            $('.dsThumbs-nav').click(function () {
                $('#dsThumbs .owl-dot:nth(' + $(this).attr('rel') + ')').trigger('click');
            });

            $('#dsSanPhamVuaXem').owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 2,
                        nav: false,
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 6,
                        nav: false
                    }
                }
            });

            $('#dsVariants').owlCarousel({
                loop: true,
                stagePadding: 30,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 3,
                        nav: false,
                        loop: false
                    },
                    600: {
                        items: 3,
                        nav: false,
                        loop: false
                    },
                    1000: {
                        items: 3,
                        nav: false,
                        loop: false
                    }
                }
            });


            $('#dsSanPhamLienQuan').owlCarousel({
                loop: true,
                stagePadding: 15,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        loop: false
                    },
                    600: {
                        items: 1,
                        nav: false,
                        loop: false
                    },
                    1000: {
                        items: 3,
                        nav: false,
                        loop: false
                    }
                }
            });


            var dots = $('.owl-dots').css('position', 'absolute').css('bottom', '5px');
            dots.css('left', 'calc(50% - ' + dots.width() / 2 + 'px)');
            var dot = $('.owl-dot span').css('width', '5px').css('height', '5px');


            //Swipebox
            //$('.swipebox').swipebox();
            $('.swipebox').click(function (e) {
                e.preventDefault();
                var imgSrc = $(this).attr('href');
                var img = new Image();
                img.onload = function () {
                    $.swipebox([
                        { href: imgSrc, title: 'Cotton Plus' },
                    ]);
                };
                img.src = imgSrc;
            });
        });


        /*-----------------------------------------------------------------
        Popup video
        -------------------------------------------------------------------*/

        var videopopup_wrapper = $('.youtube-popup');

        if (videopopup_wrapper.length) {
            $('.intro__btn-play').on('click', function (e) {
                e.preventDefault();
                openbox();
                videopopup_wrapper.html('<iframe id="yvideopopup" allowfullscreen frameborder="0" class="js-video-iframe" src="' + videopopup_wrapper.data('yt-url') + '" autoplay></iframe>');
            });
        }

        $('.close-popup').on('click', function () {
            closebox();
        });

        $(document).on('keyup', function (e) {
            if (e.keyCode === 27) closebox();
        });

        function openbox() {
            $('.lightbox-backdrop').css({ 'display': 'block', 'pointer-events': 'all' });
            $('.lightbox-backdrop, .lightbox-content').delay(350).animate({ 'opacity': '1' }, 300, 'linear');
            $('.btn-play__popup').addClass('is-active');
            $('.intro').css({ zIndex: '4' });
        }

        function closebox() {
            $('.lightbox-backdrop, .lightbox-content').animate({ 'opacity': '0' }, 300, 'linear', function () {
                $('.lightbox-backdrop').css({ 'display': 'none' });
                $('.btn-play__popup').removeClass('is-active');
                $('iframe#yvideopopup').remove();
                $('.intro').css({ zIndex: '0' });
            });
        }

        //danh sách sản phẩm mua cùng
        $(document).ready(function () {
            var el = $('#dsCopurchase');

            var carousel;
            var carouselOptions = {
                loop: false,
                autoplayTimeout: 4000,
                autoplayHoverPause: false,
                slideBy: 'page',
                dots: false,
                nav: false,
                responsive: {
                    0: {
                        items: 3,
                        rows: 2 //custom option not used by Owl Carousel, but used by the algorithm below
                    },
                    600: {
                        items: 4,
                        rows: 2 //custom option not used by Owl Carousel, but used by the algorithm below
                    },
                    1000: {
                        items: 6,
                        rows: 2 //custom option not used by Owl Carousel, but used by the algorithm below
                    }
                }
            };

            //Taken from Owl Carousel so we calculate width the same way
            var viewport = function () {
                var width;
                if (carouselOptions.responsiveBaseElement && carouselOptions.responsiveBaseElement !== window) {
                    width = $(carouselOptions.responsiveBaseElement).width();
                } else if (window.innerWidth) {
                    width = window.innerWidth;
                } else if (document.documentElement && document.documentElement.clientWidth) {
                    width = document.documentElement.clientWidth;
                } else {
                    console.warn('Can not detect viewport width.');
                }
                return width;
            };

            var severalRows = false;
            var orderedBreakpoints = [];
            for (var breakpoint in carouselOptions.responsive) {
                if (carouselOptions.responsive[breakpoint].rows > 1) {
                    console.log('severalRows = true');
                    severalRows = true;
                }
                orderedBreakpoints.push(parseInt(breakpoint));
            }

            //Custom logic is active if carousel is set up to have more than one row for some given window width
            if (severalRows) {
                orderedBreakpoints.sort(function (a, b) {
                    return b - a;
                });
                var slides = el.find('[data-slide-index]');

                console.log(slides.length);

                var slidesNb = slides.length;
                if (slidesNb > 0) {
                    var rowsNb;
                    var previousRowsNb = undefined;
                    var colsNb;
                    var previousColsNb = undefined;

                    //Calculates number of rows and cols based on current window width
                    var updateRowsColsNb = function () {
                        var width = viewport();
                        for (var i = 0; i < orderedBreakpoints.length; i++) {
                            var breakpoint = orderedBreakpoints[i];
                            if (width >= breakpoint || i == (orderedBreakpoints.length - 1)) {
                                var breakpointSettings = carouselOptions.responsive['' + breakpoint];
                                rowsNb = breakpointSettings.rows;
                                colsNb = breakpointSettings.items;
                                break;
                            }
                        }
                    };

                    var updateCarousel = function () {
                        updateRowsColsNb();

                        //Carousel is recalculated if and only if a change in number of columns/rows is requested
                        if (rowsNb != previousRowsNb || colsNb != previousColsNb) {
                            var reInit = false;
                            if (carousel) {
                                //Destroy existing carousel if any, and set html markup back to its initial state
                                carousel.trigger('destroy.owl.carousel');
                                carousel = undefined;
                                slides = el.find('[data-slide-index]').detach().appendTo(el);
                                el.find('.fake-col-wrapper').remove();
                                reInit = true;
                            }


                            //This is the only real 'smart' part of the algorithm

                            //First calculate the number of needed columns for the whole carousel
                            var perPage = rowsNb * colsNb;
                            var pageIndex = Math.floor(slidesNb / perPage);
                            var fakeColsNb = pageIndex * colsNb + (slidesNb >= (pageIndex * perPage + colsNb) ? colsNb : (slidesNb % colsNb));

                            //Then populate with needed html markup
                            var count = 0;
                            for (var i = 0; i < fakeColsNb; i++) {
                                //For each column, create a new wrapper div
                                var fakeCol = $('<div class="fake-col-wrapper"></div>').appendTo(el);

                                for (var j = 0; j < rowsNb; j++) {
                                    //For each row in said column, calculate which slide should be present
                                    var index = Math.floor(count / perPage) * perPage + (i % colsNb) + j * colsNb;
                                    if (index < slidesNb) {
                                        console.log("If said slide exists, move it under wrapper div");
                                        //If said slide exists, move it under wrapper div
                                        slides.filter('[data-slide-index=' + index + ']').detach().appendTo(fakeCol);
                                    }
                                    count++;
                                }
                            }
                            //end of 'smart' part

                            previousRowsNb = rowsNb;
                            previousColsNb = colsNb;

                            if (reInit) {
                                //re-init carousel with new markup
                                carousel = el.owlCarousel(carouselOptions);
                            }
                        }
                    };

                    //Trigger possible update when window size changes
                    $(window).on('resize', updateCarousel);

                    //We need to execute the algorithm once before first init in any case
                    updateCarousel();
                }
            }

            //init
            carousel = el.owlCarousel(carouselOptions);
        });
    </script>


    


    

</body>

</html>
